name: Version Tests

on:
  push:
    branches:
      - main
      - dev
    paths:
      - '.github/workflows/tests.yml'
      - 'addons/Version/classes/Version.gd'
      - 'tests/ci.gd'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/tests.yml'
      - 'addons/Version/classes/Version.gd'
      - 'tests/ci.gd'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  tests:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - windows-latest
        godot-version: 
          - 4.5
          - 4.6

    runs-on: ${{ matrix.os }}

    env:
      GODOT_VERSION: ${{ matrix.godot-version }}-stable

    steps:
      - uses: actions/checkout@v6

      - name: Set Godot binary for Linux
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: echo "GODOT_BINARY=Godot_v${{ matrix.godot-version }}-stable_linux.x86_64" >> $GITHUB_ENV

      - name: Set Godot binary for Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: echo "GODOT_BINARY=Godot_v${{ matrix.godot-version }}-stable_win64.exe" >> $GITHUB_ENV

      - name: Cache Godot binary
        id: godotbin-cache
        uses: actions/cache@v5
        with:
          path: ./${{ env.GODOT_BINARY }}
          key: ${{ env.GODOT_BINARY }}

      - name: Download Godot if not cached
        if: steps.godotbin-cache.outputs.cache-hit != 'true'
        run: |
          curl -L -o ${{ env.GODOT_BINARY }}.zip https://github.com/godotengine/godot/releases/download/${{ env.GODOT_VERSION }}/${{ env.GODOT_BINARY }}.zip
          unzip -o ./${{ env.GODOT_BINARY }}.zip

      - name: Run test
        run: |
          ./${{ env.GODOT_BINARY }} \
            --headless \
            --import \
              && \
          ./${{ env.GODOT_BINARY }} \
            --no-header \
            --headless \
            --script ./tests/ci.gd
